@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer base {
  #root {
    @apply h-full;
    @apply text-black;
  }

  html,
  body {
    @apply h-full;

    @apply select-none;

    @apply bg-transparent;

    @apply font-mono antialiased text-white;

    @apply overflow-hidden;
  }

  header {
    -webkit-app-region: drag;
  }

  button {
   -webkit-app-region: no-drag;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-400 rounded-md;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}
